<div class="card">
  <div class="card-block" (click)="switchDetails()">
    <h4 class="card-title">
      {{ estimation.title }} ({{ estimation.min_hours }} h - {{ estimation.max_hours }} h )
        <i *ngIf="!showDetails" class="fa fa-plus f-r pointer" aria-hidden="true"></i>
        <i *ngIf="showDetails" class="fa fa-minus f-r pointer" aria-hidden="true"></i>
      </h4>
  </div>
  <div class="card-block" *ngIf="showDetails && estimation.subtasks.length">
      <p>Subtasks:</p>
      <ul class="list-group">
        <li *ngFor="let subtask of estimation.subtasks" class="list-group-item">
            {{ subtask.title }} ({{ subtask.min }} h - {{ subtask.max }} h) 
            <i class="fa fa-trash f-r pointer p-l-10" (click)="deleteSubtask(subtask.subtask_id)" aria-hidden="true"></i>
            <i class="fa fa-pencil f-r pointer p-l-10" (click)="editSubtask(subtask.subtask_id)" aria-hidden="true"></i>
        </li>
      </ul>
  </div>
  <div class="card-block" *ngIf="showDetails">
      <app-min-max-subtask-form *ngIf="addingSubtask" [subtask]="newSubTask" (onSubmit)="insertNewSubTask($event)"></app-min-max-subtask-form>
  </div>
    <div class="card-block" *ngIf="showDetails && estimation.potttential_subtasks.length">
        <p>Pottential subtasks:</p>
        <ul class="list-group">
        <li *ngFor="let subtask of estimation.potttential_subtasks" class="list-group-item">
            {{ subtask.title }} ({{ subtask.min }} h - {{ subtask.max }} h)
        </li>
        </ul>
    </div>
  <div class="card-block" *ngIf="showDetails && estimation.questions.length">
      <p>Questions:</p>
      <ul class="list-group">
        <li *ngFor="let question of estimation.questions" class="list-group-item">
            {{ question }} 
            <i class="fa fa-trash f-r pointer" aria-hidden="true"></i>
            <i class="fa fa-pencil f-r pointer" aria-hidden="true"></i>
        </li>
      </ul>
  </div>
  <div class="card-block" *ngIf="showDetails">
      <app-min-max-question-form *ngIf="addingQuestion" [question]="newQuestion" (onSubmit)="insertNewQuestion($event)"></app-min-max-question-form>
  </div>
    <div class="card-block" *ngIf="showDetails">
    <button class="btn btn-block btn-primary"
            *ngIf="!addingSubtask"
            (click)="addSubtask()">Add Subtask</button>
    </div>
  <div class="card-block" *ngIf="showDetails">
      <button class="btn btn-block btn-primary"
              *ngIf="!addingQuestion"
              (click)="addQuestion()">Add Question</button>
  </div>
</div>