<div class="col-lg-8">
  <div *ngIf="request" class="m-t-50">
    <h1>Estimation for {{ request.title }}</h1>
    <div class="m-t-50">{{ request.description }}</div>
  </div>
  <div *ngIf="request" class="m-t-50">
    <div *ngFor="let est of request.individual_estimations">
      <app-single-estimation-detail *ngIf="est.method === 'single'" [estimation]="est"></app-single-estimation-detail>
    </div>
  </div>
  <div>
      <form class="m-t-50 form-inline new-estimation-form"
            #taskForm="ngForm"
            (ngSubmit)="addEstimation()">
        <div class="form-group">
          <input type="text"
                name="newEstimationSubject"
                [(ngModel)]="newEstimationSubject"
                placeholder="estimation subject"
                class="form-control">
          <button type="submit"
                  class="btn btn-primary">
                  <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </form>
  </div>
  <div *ngIf="request" class="m-t-50">
    <button class="btn btn-primary btn-block"
            [disabled]="!request.individual_estimations.length"
            (click)="postEstimation()">Post estimation</button>
  </div>
</div>
