// Margins
.m-t-50 {
  margin-top: 50px;
}

.m-t-25 {
  margin-top: 25px;
}
// Paddings
.p-t-50 {
  margin-top: 50px;
}

.p-l-10 {
  padding-left: 10px;
}
//Floats
.f-r {
    float: right !important;
}
//Cursors
.pointer {
    cursor: pointer;
}