<div class="card">
  <div class="card-block" (click)="switchDetails()">
    <h4 class="card-title">
      {{ estimation.title }} ({{ estimation.total_hours }} h)
      <i *ngIf="!showDetails" class="fa fa-plus f-r pointer" aria-hidden="true"></i>
      <i *ngIf="showDetails" class="fa fa-minus f-r pointer" aria-hidden="true"></i>
    </h4>
  </div>
  <div class="card-block" *ngIf="showDetails">
      <ul class="list-group">
        <li *ngFor="let subtask of estimation.subtasks" class="list-group-item">
            {{ subtask.title }} ({{ subtask.hours }} h)
        </li>
      </ul>
  </div>
  <div class="card-block" *ngIf="showDetails">
      <form #signleSubtaskForm="ngForm"
            *ngIf="addingSubtask"
            (ngSubmit)="insertNewSubTask()">
        <div class="form-group">
          <label for="subtask_title" class="col-sm-3">Subtask title</label>
          <div class="col-sm-9">
            <input type="text" 
                    name="subtask_title"
                    [(ngModel)]="newSubTask.title"
                    class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="subtask_numbers" class="col-sm-3">Hours needed</label>
          <div class="col-sm-9">
            <input type="number"
                    name="subtask_numbers"
                    class="form-control"
                    [(ngModel)]="newSubTask.hours">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
      </form>
  </div>
  <div class="card-block" *ngIf="showDetails">
      <button class="btn btn-block btn-primary"
              [disabled]="addingSubtask"
              (click)="addSubtask()">Add Subtask</button>
  </div>
</div>
